asgiref==3.5.0
click==8.0.3
colorama==0.4.4
distlib==0.3.4
filelock==3.4.2
h11==0.13.0
httptools==0.3.0
platformdirs==2.4.1
python-dotenv==0.19.2
PyYAML==6.0
six==1.16.0
uvicorn==0.17.1
virtualenv==20.13.0
watchgod==0.7
websockets==10.1
asgiref==3.5.0
click==8.0.3
colorama==0.4.4
distlib==0.3.4
filelock==3.4.2
h11==0.13.0
httptools==0.3.0
platformdirs==2.4.1
python-dotenv==0.19.2
PyYAML==6.0
six==1.16.0
uvicorn==0.17.1
virtualenv==20.13.0
watchgod==0.7
websockets==10.1
